In [1]:
import sqlalchemy as db 
from sqlalchemy import text
import pandas as pd

In [2]:
engine = db.create_engine("mysql://root:root@127.0.0.1:3310/retail_db")
conn = engine.connect()

In [5]:
departments_df = pd.read_sql_query("select*from departments",con=conn)
departments_df

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors
5              7        Fan Shop

In [6]:
from pymongo import MongoClient

conn_string = "mongodb+srv://maicolchavezumb:WgGKxns08kZk7lrl@cluster0.fzmae.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
client = MongoClient(conn_string)

In [12]:
#para insertar varios elementos
dbname = client['retail_db']
coleccion = dbname ['departments']

df_to_dict = departments_df.to_dict("records")

coleccion.insert_many(df_to_dict)

InsertManyResult([ObjectId('67936b842b1e4b2b1b64c08a'), ObjectId('67936b842b1e4b2b1b64c08b'), ObjectId('67936b842b1e4b2b1b64c08c'), ObjectId('67936b842b1e4b2b1b64c08d'), ObjectId('67936b842b1e4b2b1b64c08e'), ObjectId('67936b842b1e4b2b1b64c08f')], acknowledged=True)

In [11]:
df_to_dict

[{'department_id': 2, 'department_name': 'Fitness'},
 {'department_id': 3, 'department_name': 'Footwear'},
 {'department_id': 4, 'department_name': 'Apparel'},
 {'department_id': 5, 'department_name': 'Golf'},
 {'department_id': 6, 'department_name': 'Outdoors'},
 {'department_id': 7, 'department_name': 'Fan Shop'}]

In [ ]:
#para insertar solo un dato one
coleccion.insert_one({'department'})