In [1]:
pip install mysql-connector-python==9.1.0

Requirement already satisfied: mysql-connector-python==9.1.0 in /home/codespace/.python/current/lib/python3.12/site-packages (9.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
DATABASE_CONFIG = {
    'host':'127.0.0.1',
    'port': 3310,
    'user':'root',
    'password':'root',
    'database': 'retail_db'
}

In [4]:
engine = create_engine(f"mysql+mysqlconnector://{DATABASE_CONFIG['user']}:{DATABASE_CONFIG['password']}@{DATABASE_CONFIG['host']}:{DATABASE_CONFIG['port']}/{DATABASE_CONFIG['database']}")

In [5]:
departments_df = pd.read_csv('../data/departments.csv')
departments_df

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors
5              7        Fan Shop
6              8          Sports

In [23]:
if departments_df['department_name'].duplicated().any():
    print("El archivo departments tiene registros duplicados")

In [25]:
customer_df = pd.read_csv('../data/customers.csv')
customer_df.head()

,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
0,1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521
1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126
2,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,725
3,4,Mary,Jones,XXXXXXXXX,XXXXXXXXX,8324 Little Common,San Marcos,CA,92069
4,5,Robert,Hudson,XXXXXXXXX,XXXXXXXXX,10 Crystal River Mall,Caguas,PR,725

In [31]:
customer_df[['customer_fname','customer_lname','customer_email']].isnull().any().any()
print('hay datos faltantes en el archivo customers')

hay datos faltantes en el archivo customers

In [33]:
categories_df = pd.read_csv('../data/categories.csv')
categories_df.head()

   category_id  category_department_id        category_name
0            1                       2             Football
1            2                       2               Soccer
2            3                       2  Baseball & Softball
3            4                       2           Basketball
4            5                       2             Lacrosse

In [35]:
departments_df.head()

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors

In [36]:
id_validos = set(departments_df['department_id'])
id_validos

{2, 3, 4, 5, 6, 7, 8}

In [49]:
if not categories_df['category_department_id'].isin(id_validos).all():
    print('hay category_department_id que no existen en la data departmens')